/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.jumbotron {*/
/*    background-image: url("../imgs/pizza.png");*/
/*    background-size: cover;*/
/*}*/


/*div > h1 {*/
/*    text-align: center;*/
/*    margin: auto;*/
/*    background-color: #ffffff;*/
/*    opacity: 0.6;*/
/*}*/




/*FernandosWalkThrough*/

#welcome-title {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center
}

#main-jumbo {
    background: url("../imgs/pizza.png");
    background-size: cover;
}